[General]
paths = ['E:\\TV Shows', 'G:\\TV Shows', 'H:\\TV Shows', 'C:\\TV Shows']
balance_limit = 15

[XBMC]
sqlite_path = C:\Users\Dan.Moseley\AppData\Roaming\XBMC\userdata\Database\MyVideos75.db

[SickBeard]
sqlite_path = C:\Program Files (x86)\SickBeard\sickbeard.db
py = C:\Program Files (x86)\SickBeard\SickBeard.py
host = localhost
port = 8081
username = username
password = password

[NzbDrone]
sqlite_path = C:\ProgramData\NzbDrone\nzbdrone.db
